footer {
    text-align: center;
    background-color: lightgray;
    /* padding: 10px; */
    /*margin-bottom: auto;
    /* padding: 20px;
    bottom: 0 */;
    position: absolute;
    width: 100vw;
    /* left: 0;
    top: 70%; */

}

/* .Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    margin-top: 20px;
} */